# Archivos generados por Python
_pycache_/
*.pyc
*.pyo
*.pyd

# Carpeta virtualenv
venv/

# Carpeta de configuración de Visual Studio Code
.vscode/

# Archivo de entorno (por ejemplo, .env)
.env

# Carpeta de salida de construcción
build/

# Carpeta de librerías instaladas
lib/

# Carpeta de distribución
dist/

# Carpeta de archivos temporales
_pycache_/
*.pyc

# Carpeta de archivos de caché
.cache/

# Archivo de registro
*.log

# API KEYS
key.json

# Carpeta y archivos relacionados con dependencias de Python
markupsafe/
MarkupSafe-*.dist-info/
werkzeug/
Werkzeug-*.dist-info/

# Otros
.vercel
.venv

